

body {
  background-color: #191D28 ;
  font-family: 'Slabo 27px', serif;
  margin: 0px;
}

header {
  font-family: Prompt;
  font-style: normal;
  font-weight: normal;
  background-color: #191D28;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25) ;
}

.sidebar {
  display: block;
  margin-right: 3vw;
  text-align: center;
  list-style: none;
}

.sidebarlist {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.sidebarlist:hover {
  display: block;
  text-decoration: none;
  color: white;
  background-color:grey;
  padding: 10px;
}

.sidebarlistactive {
  display: block;
  font-weight: bold;
  background-color: white;
  text-decoration: none;
  color: #191D28;
  padding: 10px;
}

nav li {
  list-style: none;
  display: inline-block;
}

nav li a.active {
  font-weight: bold;
  display: block;
  background-color: white;
  text-decoration: none;
  color: #191D28;
  padding: 13px;
}

nav li a:hover {
  display: block;
  background-color:grey;
  text-decoration: none;
  color: white;
  padding: 13px;
}

nav li a{
  display: block;
  text-decoration: none;
  color: white;
  padding: 13px;
}

/*section {
  margin-left: 200px;
  margin-right: 200px;
  background-color: white;
  position: relative;
  top: 70px;
  padding: 20px;
  margin-bottom: 100px;
}*/

section {
  position: relative;
  top: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
}

aside {
  font-family: Prompt;
  font-style: normal;
  font-weight: normal;
  position: fixed;
  width: 20vw;
  height: 100vh;
}

main {
  padding-top: 10px;
  padding-bottom: 60px;
  margin-left: 20vw;
  width: 100%;
  color: white;
  border-left: thick solid white;
}

h1 {
  text-align: center;
}

article {
  border-bottom: 1px solid lightgrey;
}

h5 {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

footer {
  font-family: Poppins;
  position: fixed;
  width: 100%;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: #161922;;
  color: #9FA2B0;
  height: 51px;
  justify-content: center;
  align-items: center;
}

